<%- include('../includes/head.ejs'); %>

<div class="container" style="margin-top: 20px;" >
  <div class="card">
    <header class="card-header" style="background-color: aqua;">
      <p class="card-header-title" style="font-size: 30px;" >
        <%= dietas[0].nombre%>
      </p>
    </header>
  </div>
  <div class="box">
    <table class="table" width="100%">
      <thead>Alimentos</thead>
      <thead>
        <tr>
          <th>Nombre</th>
          <th><abbr title="Played">Medida</abbr></th>
          <th><abbr title="Won">Cantidad</abbr></th>
        </tr>
      </thead>
      <tbody>
        <% if (dieta_alimentos.length > 0) { %>
          <% for (let dieta_alimento of dieta_alimentos) { %>
            <tr></tr>
            <td><%= dieta_alimento.nombre%></td>
            <td> <%= dieta_alimento.medida%></td>
            <td> <%= dieta_alimento.cantidad%></td>
          </tr>
            <% } %>
        <% } %>
      </tbody>
    </table>
<!--<% if (dieta_alimentos.length > 0) { %>
  <% for (let dieta_alimento of dieta_alimentos) { %>
    <p><%= dieta_alimento.nombre%> <%= dieta_alimento.medida%> <%= dieta_alimento.cantidad%></p>
    <% } %>
    <% } %>-->  

              <% if (macronutriente.length > 0) { %>
                <% for (let macro of macronutriente) { %>
                  <p>Calorias: <%= macro.calorias%></p>
                  <p>Proteinas: <%= macro.proteinas%></p>
                  <p>Carbohidratos: <%= macro.carbohidratos%></p>
                  <p>Grasas: <%= macro.grasas%></p>
                  <% } %>
              <% } %>

              <% if (micronutriente.length > 0) { %>
                <% for (let micro of micronutriente) { %>
                  <p>Ceniza: <%= micro.ceniza%></p>
                  <p>Total de fibra: <%= micro.fibra_total%></p>
                  <p>Calcio: <%= micro.calcio%></p>
                  <p>Fosforo: <%= micro.fosforo%></p>
                  <p>Hierro: <%= micro.hierro%></p>
                  <p>Tiamina: <%= micro.tiamina%></p>
                  <p>Riboflavina: <%= micro.riboflavina%></p>
                  <p>Niacina: <%= micro.niacina%></p>
                  <p>Vitamina C: <%= micro.vit_c%></p>
                  <p>Vitamina A: <%= micro.vit_a%></p>
                  <p>Ácidos Grasos Mínimos: <%= micro.acgrasosmin%></p>
                  <p>Ácidos  Grasos Poliinsaturados: <%= micro.acgrasospoli%></p>
                  <p>Ácidos Grasos Saturados: <%= micro.acgrasossat%></p>
                  <p>Colesterol: <%= micro.colesterol%></p>
                  <p>Potasio: <%= micro.potasio%></p>
                  <p>Sodio: <%= micro.sodio%></p>
                  <p>Zinc: <%= micro.zinc%></p>
                  <p>Magnesio: <%= micro.magnesio%></p>
                  <p>Vitamina B6: <%= micro.vit_b6%></p>
                  <p>Vitamina B12: <%= micro.vit_b12%></p>
                  <p>Ácido Fólico: <%= micro.acfolico%></p>
                  <p>Folato: <%= micro.folatoeq%></p>
                  <% } %>
              <% } %>
            
              </div>
              <br><br>
              <div class="buttons">
              <input class="button is-primary" type="button" value="Seleccionar Dieta" onclick="openPopup()">
              <div class="popup" id="popup">
                <h2 class="title is-2">¿Seguro que quieres seleccionar la dieta de <%= dietas[0].nombre%>?</h2>
                <button class="button is-success" type = "submit">Confirmar</button>
                <button class="button is-danger" type="button" onclick="closePopup()">Cancelar</button>
              </div>
    </form>
<script>
    let popup = document.getElementById("popup");

    function openPopup(){
        popup.classList.add("open-popup");
    }

    function closePopup(){
        popup.classList.remove("open-popup")
    }
</script>
              <a href="/dietas/" class="button is-danger">Atrás</a>
            </div>
          </div>

<%- include('../includes/foot.ejs'); %>
