<%- include('../includes/head.ejs'); %>

<h1 class="title is-1">Información del Usuario</h1>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-200x200">
          <img src="<%= infoCliente.foto_perfil || 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541' %>" alt="Foto de Perfil">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= infoCliente.nombre %> <%= infoCliente.apellido %></p>
        <p class="resaltado" style="font-weight: bold">Username</p>
        <p class="subtitle is-6"><%= infoCliente.nombre_usuario %></p>
        <p class="resaltado" style="font-weight: bold">Correo</p>
        <p class="subtitle is-6"><%= infoCliente.correo %></p>
        <p class="resaltado" style="font-weight: bold">Sexo</p>
        <p class="subtitle is-6"><%= infoCliente.sexo %></p>
        <p class="resaltado" style="font-weight: bold">Fecha de nacimiento</p>
        <p class="subtitle is-6"><%= new Date(infoCliente.fecha_nacimiento).getDate() %>/<%= new Date(infoCliente.fecha_nacimiento).getMonth()+1 %>/<%= new Date(infoCliente.fecha_nacimiento).getFullYear() %></p>
        <p class="resaltado" style="font-weight: bold">Objetivo</p>
        <p class="subtitle is-6"><%= infoCliente.nombre_obj %></p>
        <p class="resaltado" style="font-weight: bold">Nivel físico</p>
        <p class="subtitle is-6"><%= infoCliente.nombre_niv %></p>
      </div>
    </div>
  </div>
</div>
  <!--Esta vista muestra la foto de perfil del usuario, su nombre, apellido, nombre de usuario, correo, sexo, fecha de nacimiento y objetivo. La imagen de perfil por defecto es una imagen de perfil genérica en caso de que el usuario no tenga una foto de perfil asociada en la base de datos.-->
<%- include('../includes/foot.ejs'); %>