<%- include('../includes/head.ejs'); %>

<h1 class='title is-1' style='color: aliceblue;'>Información del Usuario</h1>

<style>
  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
  }
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  p {
    color: aliceblue;
  }

  button:hover, a:hover {
    opacity: 0.7;
  }

  .profile_picture{
    width: 250px;
    border-radius: 50%;
    border: 5px solid #272133;
    box-shadow: 0 10px 50px rgba(31, 93, 240, 0.7);
    height: 250px;
  }
  .table_containers_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 5;
    position: relative;
  }
  .table_container {
    width: 35%;
    text-align: center;
    display: block;
    margin: 20px 0;
  }
  .table_container h2 {
    color: #3372b5;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.5px;
    margin: 0;
  }

  .table_container h2 span {
    color: #bfc0c5;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    font-weight: 300;
  }

  .bold_text{
    font-weight: bold; 
    color: #3372b5; 
    padding-left: 50px
  }

  .submit_button{
    background-color: rgba(31, 93, 240, 0.7); 
    color: white; 
    border: none; 
    padding: 10px 20px;
  }

  .title{
    color: azure;
    font-size: 18px;
  }

  .subtitle{
    color:rgb(184, 201, 241)
  }

</style>
<div class='card'>
  <br>
  <img class='profile_picture' src="/uploads/<%= infoCliente.foto_perfil || 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541' %>" alt='Foto de Perfil'>
  <br><br><p class='title is-4'><%= infoCliente.nombre %> <%= infoCliente.apellido %></p>
  <p class='subtitle is-6'><%= infoCliente.nombre_usuario %></p>
  <% if (infoCliente && infoCliente.hasOwnProperty('nombre_obj') && infoCliente.hasOwnProperty('nombre_niv')) { %>
    <div class='table_containers_wrap'>
      <div class='table_container'>
        <h2><%= infoCliente.nombre_obj %><span>Objetivo</span></h2>
      </div>
      <div class='table_container'>
        <h2><%= infoCliente.nombre_niv %><span>Nivel</span></h2>
      </div>
    </div><br>
  <% } %>  
  <p class='title'>Información personal</p>
  <div class='info' style='text-align:left;'>
    <p>
    <span class='bold_text'>Correo: </span><%= infoCliente.correo %><br>
    <% if (infoCliente && infoCliente.hasOwnProperty('fecha_nacimiento')) { %>
      <% if (infoCliente.fecha_nacimiento !== null) { %>
        <span class='bold_text'>Fecha de nacimiento: </span><%= new Date(infoCliente.fecha_nacimiento).getDate() %>/<%= new Date(infoCliente.fecha_nacimiento).getMonth()+1 %>/<%= new Date(infoCliente.fecha_nacimiento).getFullYear() %><br>
      <% } else if (infoCliente.fecha_nacimiento === null) { %>
        <span class='bold_text'>Fecha de nacimiento: </span>Sin especificar<br>
      <% } %>
    <% } %>     

    <% if (infoCliente.hasOwnProperty('fecha_nacimiento') && infoCliente.fecha_nacimiento !== null) { %>
      <% const diffInMs = Date.now() - new Date(infoCliente.fecha_nacimiento) %>
      <% const ageDate = new Date(diffInMs) %>
      <% const age = Math.abs(ageDate.getUTCFullYear() - 1970) %>
      <span class='bold_text'>Edad: </span><%= age %> años<br>
    <% } %>

    <% if (infoCliente.hasOwnProperty('sexo') && infoCliente.sexo !== null) { %>
      <span class='bold_text'>Sexo: </span><%= infoCliente.sexo %><br>
    <% } else if (infoCliente.hasOwnProperty('sexo') && infoCliente.sexo === null) { %>
      <span class='bold_text'>Sexo: </span>Prefiero no decir<br>
    <% } %>    

    <% if (infoCliente.hasOwnProperty('alturaInic') && infoCliente.alturaInic !== null) { %>
      <span class='bold_text'>Altura: </span><%= infoCliente.alturaInic%> cm<br>
    <% } %>       

    <% if (pesoUltimo) { %>
      <span class='bold_text'>Última medición de peso: </span><%= pesoUltimo %> kg<br>
    <% } else { %>
      <span class='bold_text'>Peso inicial: </span><%= infoCliente.pesoInic %> kg<br>
    <% } %>
    
    <% if (pesoUltimo) { %>
      <span class='bold_text'>Calorías recomendadas: </span><%= Math.round(caloriasRecomendadas) %> kcal<br>
    <% } %>
    <br>
    
    </p>
  </div>
  <p>
    <a href='/perfil/editar_info'>
      <button class='submit_button'>Editar información</button>
    </a>
  </p>
</div>

<%- include('../includes/foot.ejs'); %>