<%- include('../includes/head.ejs'); %>
<form action="/rutinas/agregar" method="POST" autocomplete="off" id="rutina-form" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <h1 class="title is-1 has-text-white-ter has-text-centered">Agregar Rutinas</h1>
        <div class="columns">
            <div class="column">
                        <p class="title is-4 has-text-white-ter has-text-centered" >
                            Nombre de la rutina
                        </p>
                        <input type = "text" size = "30" class="input is-info is-small is-rounded" name = "nombre_rutina" id = "nombre_rutina" required="required" maxlength="25">
            </div>
            <div class="column">
                        <p class="title is-4 has-text-white-ter has-text-centered">
                            Descricpción
                        </p>
                        <input type = "text" size = "30" class="input is-info is-small is-rounded" name = "descripcion" id = "descripcion" required="required" maxlength="1000">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                        <p class="title is-4 has-text-white-ter ">
                            Imagen
                        </p>
                        <input type="file" id="imagen" name="imagen">
    
            </div>
            <div class="column">
                        <p class="title is-4 has-text-white-ter">
                            Tipo de rutina
                        </p>
                        <div class="select is-small select-customizado">
                                
                            <select name = "tiporutina" id = "tiporutina" required="required">
                                <option>
                                    Bajar de Peso
                                </option>
                                <option>
                                    Mantener Peso
                                </option>
                                <option>
                                    Subir de Peso
                                </option>
                            </select>
                        </div>
        </div>
    </div>
                <p class="title is-4 has-text-white-ter ">
                    Ejercicios
                </p>
                <div class="columns">
                    <div class="column">
                        <input type="text" id="search" class="input is-info is-small is-rounded" placeholder="Buscar ejercicios">
                        <ul id="suggestions" class="suggestions-list">
                            
                        </ul>
                    </div>
                    <div class="column">
                        <div style="max-height: 150px; overflow: auto">
                            <table id="tabla-ejercicios" class="table has-text-white-ter has-background-black-ter">
                                <thead>
                                    <tr>
                                        <th class="has-text-white-ter">Nombre del ejercicio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    <input class="button is-rounded is-info" type="button" value="Guardar" onclick="openPopup()">
    <div class="popup" id="popup">
        <h2 class="title is-4 has-text-white-ter"> ¿Quieres confirmar tus datos?</h2>
        <button class="button is-success" type = "submit" id="submit-button" name="submit-button" onclick="closePopup()">Confirmar</button>
        <button class="button is-danger" type="button" onclick="closePopup()">Cancelar</button>
    </div>
</form>

<%- include('../includes/foot.ejs'); %>

<style>
    .suggestions-list {
        max-width: 50%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #2c2c2c;
        color: white;
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        z-index: 999;
        width: 100%;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
    .suggestions-list li {
        padding: 8px 12px;
        cursor: pointer;
    }
    .suggestions-list li:hover {
        background-color: #464646;
    }
</style>

<script>
    // Aquí se obtienen todos los ejercicios que les pasamos desde el controlador, los transforma en string y luego los guarda en una constante ejercicios
    const ejerciciosStr = "<%- escape(JSON.stringify(ejercicios)) %>";
    const ejercicios = JSON.parse(unescape(ejerciciosStr));
    // Obtenemos el elemento de busqueda
    const searchInput = document.getElementById('search');
    // Lista que se va a desplegar como parte de la sugerencias
    const suggestionsList = document.getElementById('suggestions');
    // Tabla que registrara los ejercicios seleccionados
    const ejerciciosTable = document.getElementById('tabla-ejercicios');

    // Agregamos a la barra de busqueda un evento cuando se le ingrese texto
    searchInput.addEventListener('input', (e) => {
        // El valor de la busqueda ingresada se guarda en searchTerm
        const searchTerm = e.target.value.toLowerCase();
        // El HTML de la lista lo declaramos inicialmente como un string vacio
        suggestionsList.innerHTML = '';

        // Si existe texto dentro de la barra de busqueda...
        if (searchTerm) {
            // Filtramos cada ejercicio de la matriz ejercicios para ver los ejercicios que incluyen el searchTerm y los que hagan match se guardan en el arreglo de filteredEjercicios
            const filteredEjercicios = ejercicios.filter(ejercicio => ejercicio.descripcion.toLowerCase().includes(searchTerm));

            //Por cada ejercicio dentro del arreglo filteredEjercicios, creamos un elemento en la lista
            filteredEjercicios.forEach(ejercicio => {
                const listItem = document.createElement('li');
                // El contenido del elemento será la descripcion del ejercicio
                listItem.textContent = ejercicio.descripcion;
                // Le agregamos un evento a cada elemento de la lista por si se le hace click, llamará a la función de agregar ejercicio a tabla
                listItem.addEventListener('click', () => {
                    addEjercicioToTable(ejercicio);
                    // Cuando se le haga click a un elemento y se agregue a la tabla, debemos reiniciar la lista y el valor de busqueda
                    searchInput.value = '';
                    suggestionsList.innerHTML = '';
                });
                // Agregamos el elemento al HTML de la lista
                suggestionsList.appendChild(listItem);
            });
        }
    });
    // Cuando se le haga click al botón submit...
    document.getElementById("submit-button").addEventListener("click", function (event) {
        // Verificamos que los campos del nombre de la rutina, tipo de rutina y descripcion hayan sido llenados
        const nombreRutina = document.getElementById("nombre_rutina");
        const tipoRutina = document.getElementById("tiporutina");
        const descripcion = document.getElementById("descripcion");

        const rutinasStr = "<%- escape(JSON.stringify(rutinas)) %>";
        const rutinas = JSON.parse(unescape(rutinasStr));

        const rutinasFavStr = "<%- escape(JSON.stringify(rutinasFavs)) %>";
        const rutinasFavs = JSON.parse(unescape(rutinasFavStr));

        if (!nombreRutina.value || tipoRutina.value == "Elige una opción" || !descripcion.value){
            alert("Por favor llena todos los campos de nombre, descripcion y tipo de la rutina");
            return;
        }

        event.preventDefault();

        // Obtenemos la forma, la tabla y las filas con los ID's declarados en la vista
        const form = document.getElementById("rutina-form");
        const table = document.getElementById("tabla-ejercicios");
        const rows = Array.from(table.querySelectorAll("tr")).slice(1); // Omitir la fila del encabezado

        // Por cada ejercicio en la tabla regresamos
        const ejercicios = rows.map(row => {
        const cells = row.querySelectorAll("td");
        return {
            // El valor de la primera columna
            id_ejercicio: cells[0].getAttribute('data-idEjercicio')
        };
        });

        if(ejercicios.length == 0){
            alert("Tienes que agregar mínimo un ejercicio para guardar la rutina");
            return;
        }
        else if (!checkRutinasNombres(rutinas, rutinasFavs, nombreRutina.value)){
            alert('Ya existe una rutina con ese nombre')
            return;
        }

        // Creamos un input escondido para que ese sea el que llamamos en el controlador con todos la información que se encuentra en las tablas
        const ejerciciosInput = document.createElement("input");
        ejerciciosInput.type = "hidden";
        ejerciciosInput.id = "ejercicios";
        ejerciciosInput.name = "ejercicios";
        ejerciciosInput.value = JSON.stringify(ejercicios);
        form.appendChild(ejerciciosInput);

        // Esa información es la que se envia en el form
        form.submit();
    });

    // Metodos
    function addEjercicioToTable(ejercicio) {
        // Creamos una nueva fila
        const row = document.createElement('tr');
        // Primera columna: Nombre del ejercicio
        const nombreCell = document.createElement('td');
        nombreCell.textContent = ejercicio.descripcion;
        nombreCell.id = `nombre`;
        nombreCell.name = `nombre`;
        nombreCell.setAttribute('data-idEjercicio', ejercicio.id_ejercicio);

        row.appendChild(nombreCell);

        // Agregamos todo el codigo al HTML de la tabla 
        document.getElementById('tabla-ejercicios').querySelector('tbody').appendChild(row);

        nombreCell.addEventListener('click', () => {
            ejerciciosTable.querySelector('tbody').removeChild(row);
        });
    }

    function checkRutinasNombres(rutinas, rutinasFavs, nombre){
        for (let rutina of rutinas) {
            if (rutina.nombre == nombre){
                return false;
            }
        }
        for (let rutina of rutinasFavs) {
            if (rutina.nombre == nombre){
                return false;
            }
        }
        return true;
    }
    function openPopup(){
        popup.classList.add("open-popup");
    }

    function closePopup(){
        popup.classList.remove("open-popup")
    }
</script>