<%- include('../includes/head.ejs'); %>
<% if (mensaje != '') { %>
    <div class="notification is-info is-light">
        <%= mensaje %>
    </div>
<% } %>

<% if (rol == "Cliente") {%>

<h1 class = "title is-1 has-text-white-ter">Rutinas Favoritas</h1>
<% if (rutinasFavs.length > 0) { %>
    <form action="/rutinas/eliminar_favs" method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <input type="hidden" name="id_rutina_fav" id="id_rutina_fav" value="">
    <div class="columns">
        <% let columns = 0; %>
        <% for (let rutinaFav of rutinasFavs) { %>
            <% if (columns % 4 == 0) { %>
    </div>
    <div class="columns">
            <% } %>
            <% columns++; %>
            <div class="column is-3">
                <div class="card" data-id="<%= rutinaFav.id_rutina %>">
                    <div class="card-image">
                        <div class="star">
                            <a onclick="delPopup('<%= rutinaFav.id_rutina %>')"> 
                                <i class="fas fa-star"></i>
                            </a>
                        </div>
                        <figure class="image is-4by3">
                            <a href="/rutinas/<%= rutinaFav.id_rutina %>"><img src="/uploads/<%= rutinaFav.URL_Image %>" alt="Placeholder image"></a>

                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1518/1518886.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 has-text-white-ter"><%= rutinaFav.nombre %></p>
                                <p class="subtitle is-6 has-text-white-ter"><%= rutinaFav.tiporutina %></p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <div class="popup" id="del">
        <h2 class="title is-4 has-text-white-ter">¿Quieres eliminar esta rutina de Favoritos?</h2>
        <button class="button is-success" type = "submit">Sí</button>
        <button class="button is-danger" type="button" onclick="closeDelPopup()">No</button>
    </div>
    </form>
<% } %>

<h1 class = "title is-1 has-text-white-ter"> Más Rutinas</h1>
<% if (rutinas.length > 0) { %>
    <form action="/rutinas/agregar_favs" method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <input type="hidden" name="id_rutina" id="id_rutina" value="">
    <div class="columns">
        <% let columns = 0; %>
        <% for (let rutina of rutinas) { %>
            <% if (columns % 4 == 0) { %>
    </div>
    <div class="columns">
            <% } %>
            <% columns++; %>
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <div class="star">
                            <a onclick="addPopup('<%= rutina.id_rutina %>')"> 
                                <i class="far fa-star"></i>
                            </a>
                        </div>
                        <figure class="image is-4by3">
                            <a href="/rutinas/<%= rutina.id_rutina %>"><img src="/uploads/<%= rutina.URL_Image %>" alt="Placeholder image"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1518/1518886.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 has-text-white-ter"><%= rutina.nombre %></p>
                                <p class="subtitle is-6 has-text-white-ter"><%= rutina.tiporutina %></p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <div class="popup" id="popup">
        <h2 class="title is-4 has-text-white-ter">¿Quieres guardar esta rutina en Favoritos?</h2>
        <button class="button is-success" type = "submit">Sí</button>
        <button class="button is-danger" type="button" onclick="closeAddPopup()">No</button>
    </div>
    </form>
<% } else { %>
    <h1>No hay rutinas registradas</h1>
<% } %>   

<script>
    let popup = document.getElementById("popup");

    function addPopup(id){
        popup.classList.add("open-popup");
        document.getElementById("id_rutina").value = id;
    }

    function closeAddPopup(){
        popup.classList.remove("open-popup")
    }

    function delPopup(id){
        del.classList.add("open-popup");
        document.getElementById("id_rutina_fav").value = id;
    }
    function closeDelPopup(){
        del.classList.remove("open-popup");
    }
</script>
<% } else if (rol == "Administrador") { %>
    <h1 class = "title is-1 has-text-white-ter"> Rutinas</h1>
<% if (rutinas.length > 0) { %>
    <div class="columns">
        <% let columns = 0; %>
        <% for (let rutina of rutinas) { %>
            <% if (columns % 4 == 0) { %>
    </div>
    <div class="columns">
            <% } %>
            <% columns++; %>
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/rutinas/<%= rutina.id_rutina %>"><img src="/uploads/<%= rutina.URL_Image %>" 
                                alt="Hola"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1518/1518886.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 has-text-white-ter"><%= rutina.nombre %></p>
                                <p class="subtitle is-6 has-text-white-ter"><%= rutina.tiporutina %></p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <h1>No hay rutinas registradas</h1>
<% } %>   
<% } %>
<%- include('../includes/foot.ejs'); %>