<%- include('../includes/head.ejs'); %>
<h1 class = "title is-1 has-text-white-ter">Alimentos</h1>

<% if (mensaje == 'El alimento fue registrado exitosamente.') { %>
  <div class="notification is-success has-text-white">
    <%= mensaje %>
    <button class="delete" onclick="cerrarNotificacion()"></button>
  </div>
<% } else if (mensaje == 'El alimento fue actualizado exitosamente.') { %>
    <div class="notification is-success has-text-white">
      <%= mensaje %>
      <button class="delete" onclick="cerrarNotificacion()"></button>
    </div>
<% } else if (mensaje != '') { %>
  <div class="notification is-danger has-text-white">
    <%= mensaje %>
    <button class="delete" onclick="cerrarNotificacion()"></button>
  </div>
<% } %>


<table class="table has-background-black-ter" width="100%">

    <thead>
      <tr>
        <th class="has-text-white-ter">Nombre</th>
        <th class="has-text-white-ter">Medidas</th>
        <th class="has-text-white-ter">Editar</th>
      </tr>
    </thead>
    <tbody>
        <% if (alimentos.length > 0) { %>
            <% for (let alimento of alimentos) { %>
              <tr>
              <td class="has-text-white-ter"><%= alimento.nombre %></td>
              <td class="has-text-white-ter"><%= alimento.medida %></td>
              <td><a href="/alimentos/editar/<%= alimento.id_alimento %>" class="button is-info is-rounded">Editar</a></td>
            </tr>
              <% } %>
          <% } %>
        </tbody>
      </table>
<% if (alimentos.length > 0) { %>
    <div class="columns">
        <% let columns = 0; %>
        <% for (let alimento of alimentos) { %>
            <% if (columns % 4 == 0) { %>
    </div>
    <div class="columns">
            <% } %>
            <% columns++; %>
           
        <% } %>
    </div>
<% } else { %>
    <h1 class="has-text-white-ter">No hay alimentos registrados</h1>
<% } %>   
<script>
  function cerrarNotificacion() {
    document.querySelector('.notification').style.display = 'none';
  }
</script>

<%- include('../includes/foot.ejs'); %>