<%- include('../includes/head.ejs'); %>
<br>
<div class="notif has-background-danger" id="notification">
  No se puede eliminar este alimento porque este alimento existe en una dieta
</div>
<h1 class="title has-text-white-ter">Editar alimento</h1>
<form action="/alimentos/editar" method="POST" autocomplete="off">
<input type="hidden" id = "id"name="id" value="<%= alimento.id_alimento %>" >
 
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <label for="nombre"> <h5 class="title is-5 has-text-white-ter">Nombre:</h5></label> <br>
            <input required name="nombre" id="nombre" class="input is-rounded" type="text" value="<%= alimento.nombre %>">
    <br><br><br>
    <label for="medida">
        <h5 class="title is-5 has-text-white-ter">Medida:</h5>
      </label>
      <br>
      <div class="select is-rounded">
        <select name="medida" id="medida">
          <option value="Kilogramos">Kilogramos</option>
          <option value="Gramos">Gramos</option>
          <option value="Miligramos">Miligramos</option>
          <option value="Onzas">Onzas</option>
          <option value="Libras">Libras</option>
          <option value="Piezas">Piezas</option>
          <option value="Tazas">Tazas</option>
          <option value="Gramos">Gramos</option>
          <option value="Litros">Litros</option>
          <option value="Mililitros">Mililitros</option>
        </select>
      </div>
    <br><br><br>
            <input class="button is-rounded is-success" type="submit" value="Actualizar">
            <% console.log(dietasAli); %>
            <% console.log(dietasAli.length); %>
            <% if (dietasAli.length == 0){ %>
            <input class="button is-danger is-rounded" type="button" value="Eliminar" onclick="openPopup()">
            <% } else { %>
              <input class="button is-danger is-rounded" type="button" value="Eliminar" onclick="showNotification()">
            <% } %>
    </form>
              <form action="/alimentos/eliminar" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <input type="hidden" id = "id"name="id" value="<%= alimento.id_alimento %>" >
                <div class="popup" id="popup">
                  <h2 class="title is-4 has-text-centered has-text-white-ter">¿Seguro que quieres eliminar este alimento?</h2>
                  <button class="button is-success" type = "submit">Confirmar</button>
                  <button class="button is-danger" type="button" onclick="closePopup()">Cancelar</button>
                </div>
              </form>
    
    <br><br>
    <script>
      let popup = document.getElementById("popup");
      let noti = document.getElementById("notification");
      let timeoutId;

      function openPopup() {
        popup.classList.add("open-popup");
      }

      function closePopup() {
        popup.classList.remove("open-popup");
      }

      function showNotification() {
        noti.classList.add("open-noti");
        // Limpia el temporizador actual antes de configurar uno nuevo
        clearTimeout(timeoutId);

        // Reinicia el temporizador cada vez que se hace clic en el botón de eliminar
        timeoutId = setTimeout(function () {
          noti.classList.remove("open-noti");
          document.querySelector(".notification").style.display = "none";
        }, 4000);
      }



    </script>
    
<%- include('../includes/foot.ejs'); %>