<%- include('../includes/head.ejs'); %>
<div class="container" style="margin-top: 20px;" >
  <div class="card">
    <header class="card-header" style="background-color: aqua;">
      <p class="card-header-title" style="font-size: 30px;" >
        <%= ejercicios[0].descripcion%>
      </p>
    </header>
  </div>
            <div class="box"style="background-color: rgb(29, 29, 29) ">
              <table class="tablee" width="100%">
                <thead>
                  <tr>
                    <th class="has-text-white"-ter>Video explicativo:
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% if (ejercicios.length > 0) { %>
                    <% for (let ejercicio of ejercicios) { %>
                      
                      <th><<%= ejercicio.video_ejercicio %></th>
                      <br>
                      <iframe width="420" height="345" src="<%= ejercicio.video_ejercicio %>">>
                      </iframe>
        
                      <% } %>
                     
                  <% } %>
                </tbody>
              </table>
              </div>
              
              <% if (ejercicios.length > 0) { %>
                <% for (let ejercicio of ejercicios) { %>
                  <div class="field is-grouped"> 
                  <div class="buttons">
                    <a href="/ejercicios/editar/<%= ejercicio.id_ejercicio %>" class="button is-info is-rounded">Modificar</a>
                    <a href="/ejercicios/" class="button is-danger">Atrás</a>
                  </div>
                  </div>
                  
                  <% } %>
                 
              <% } %>
              <br>

          </div>
        </div>

<%- include('../includes/foot.ejs'); %>