<%- include('../includes/head.ejs'); %>
<% if (rol == "Administrador") { %>
<div class="hero is-fullheight">
  <div class="hero-body is-justify-content-center is-align-items-center">
    <div class='columns is-flex is-flex-direction-column box ' style='background-color: RGB(40, 40, 40)'>
      <div class="container" style="margin-top: 20px;">
        <div class="card">
          <header class="card-header has-background-info">
            <p class="card-header-title is-justify-content-center has-text-white" style="font-size: 30px;" >
              <%= ejercicios[0].descripcion%>
            </p>
          </header>
        </div>
        <div class="box"style="background-color:RGB(40, 40, 40)">
          <table class="tablee" width="100%" style="background-color:RGB(40, 40, 40)">
    
            <tbody>
              <% if (ejercicios.length > 0) { %>
                <% for (let ejercicio of ejercicios) { %>
                  <div class="has-text-white-ter" style="word-wrap: break-word;
                  max-width: 100%; ">
                    <h2 class="has-text-weight-bold">Descripción del ejercicio:</h2>
                    <p><%= ejercicio.descripcion_ejercicio.substring(0, 80) %></p>
                    <p><%= ejercicio.descripcion_ejercicio.substring(81, 160) %></p>
                    <p><%= ejercicio.descripcion_ejercicio.substring(161, 240) %></p> <br>
                  </div>

                  <% if (ejercicio.video_ejercicio == '') { %>
                  <div class="has-text-white-ter">
                    <h2 class="has-text-weight-bold">Video explicativo:</h2>
                    <p class="has-text-white-ter">Agrega un video en el boton de editar. </p>
                  </div>
                  <% } %>
                   
                  <% if (ejercicio.video_ejercicio) { %>
                    <th><<%= ejercicio.video_ejercicio %></th>
                    <br> 
                    <iframe width="630" height="345" style="border-radius: 10px;"
                      src="<%= ejercicio.video_ejercicio %>">
                    </iframe>
                  <% } %>
                <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
        <br>
        <% if (ejercicios.length > 0) { %>
          <% for (let ejercicio of ejercicios) { %>
            <div class="field is-grouped" style="position:absolute; bottom: 5%; left: 50%;">
              <div class="buttons">
                <a href="/ejercicios/editar/<%= ejercicio.id_ejercicio %>" class="button is-info" style = "position:absolute; right: 40px">Editar</a>
                <a href="/ejercicios/" class="button is-danger" style="position:absolute; left: 40px">Atrás</a>
              </div>
            </div>
          <% } %>
        <% } %>
        <br>
      </div>
    </div>
  </div>
</div>

<% }  else if (rol == "Cliente") { %>
  <h1 class="title is-1 has-text-white-ter">No puedes entrar aquí.</h1>
 
<% } %>
<%- include('../includes/foot.ejs'); %>
