<%- include('../includes/head.ejs'); %>
<% if (rol == "Cliente") { %>
<h1 class = "title is-1 has-text-centered has-text-white-ter"> Bitácora</h1>

<div class = "container">
    <form action="/home" method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <div style="max-height: 340px; overflow: auto">
    <table class = "table has-text-white-ter has-background-black-ter" style="width: 100%;">
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 40%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 40%;">
         </colgroup>
        <thead>
            <tr>
                <th class="has-text-white-ter">Fecha</th>
                <th class="has-text-white-ter">¿Qué hiciste?</th>
                <th class="has-text-white-ter">¿Cómo te sentiste?</th>
                <th class="has-text-white-ter">Comentarios adicionales</th>
            </tr>
        </thead>
        <tbody>

        <% if (registros.length > 0) { %>
                <% for (let registro of registros) { %>
                    <tr> 
                    <th class="has-text-white-ter"> 
                        <% const fecha = new Date(registro.fecha); %>
                        <%= fecha.getDate().toString().padStart(2, '0') %>/<%= (fecha.getMonth() + 1).toString().padStart(2, '0') %>/<%= fecha.getFullYear() %>
                    </th>
                    <td> <%= registro.descripcion_sesion %></td>
                    <td> <%= registro.nivel_satisf %></td>
                    <td> <%= registro.comentarios %></td>

                    </tr>
                <% } %>

        <% } %>
        <!--Fuente: https://datatables.net/examples/api/form.html-->
        </tbody>
    </table>
    </div>
    <br>
    <table class = "table has-text-white-ter has-background-black-ter" style="width: 100%;">
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 40%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 40%;">
         </colgroup>
        <tbody>
                <tr>
                    <th class="has-text-white-ter"><input type="date" id="fecha" name="fecha" required="required"></th>
                    <td><input type = "text" size = "50" class="input is-info is-small is-rounded" name = "descr_sesion" id = "descr_sesion" required="required" maxlength="1000"></td>
                    <td>
                        <div class=" is-small is-rounded is-info select-customizado">
                            
                        <select value = "Escribe" name = "nivel_satisf" id = "nivel_satisf">
                            <option selected="true" disabled="disabled">Elige una opción</option>
                            <option>
                                1
                            </option>
                            <option>
                                2
                            </option>
                            <option>
                                3
                            </option>
                            <option>
                                4
                            </option>
                            <option>
                                5
                            </option>
                        </select>
                        </div>
                    </td>
                    <td><input type = "text" size = "50" class="input is-info is-small is-rounded" name = "comentarios" id = "comentarios" maxlength="1000"></td>
            </tr>
        </tbody>
    </table>
    <input class="button is-rounded is-info" type="button" value="Guardar" onclick="openPopup()">
    <div class="popup" id="popup">
        <br>
        <h2 class="title is-4 has-text-white-ter">¿Quieres confirmar tus datos?</h2>
        <button class="button is-success" type = "submit" onclick="closePopup()">Confirmar</button>
        <button class="button is-danger" type="button" onclick="closePopup()">Cancelar</button>
    </div>
    </form>
</div>

<script>
    let popup = document.getElementById("popup");

    function openPopup(){
        popup.classList.add("open-popup");
    }

    function closePopup(){
        popup.classList.remove("open-popup")
    }
</script>
<% }  else if (rol == "Administrador") { %>
    <h1 class="title is-1 has-text-white-ter"></h1>
    <img src = "https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">
<% } %>

<%- include('../includes/foot.ejs'); %>