<%- include('../includes/head.ejs'); %>
<style>
    .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #242424;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
    }
    .form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
  }
  .box {
    background-color: #242424;
  }
  </style>
  
  <div class="hero is-fullheigt">
    <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box">
            <h1 class="title is-1 has-text-white-ter">Registra Datos Personales</h1>
            <form action="/informacion" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <div class="columns">
        <div class="column">
        <div class="field">
            <label class="label" for="obj">Elige tu Objetivo</label>
            <div class="select is-primary">
                 <select name="obj" id="obj">
                    <% for(let objetivo of objetivos){ %>
                        <option value="<%=objetivo.id_obj %>">
                            <%=objetivo.nombre_obj %>
                        </option>

                    <%}%>
                 </select>
            </div>
        </div>
        <div class="field">
            <label class="label" for="sexo">Selecciona tú Sexo</label>
            <div class="control">
                <div class="select">
                    <select id="sexo" name="sexo">
                    <option disabled selected>Selecciona una opción</option>
                    <option>M</option>
                    <option>F</option>
                    </select>
                </div>
                </div>
            </div>
        <div class="field">
            <label class="label" for="fecha_nacimiento">Fecha de Nacimiento</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
        </div>
    </div>
    <div class="column">
        <div class="field">
            <label class="label" for="altura">Ingresa tu Estatura (Metros)</label>
            <input type="number" id="alturaInic" name="alturaInic">
        </div>
        <div class="field">
            <label class="label" for="peso">Ingresa tu Peso (KG)</label>
            <input type="number" id="pesoInic" name="pesoInic">
        </div>

          <div class="field">
            <label class="label" for="niv">Escoge la opción que más te describa: </label>
            <div class="select is-primary">
                 <select name="niv" id="niv">
                    <% for(let nivelfisico of niveles){ %>
                        <option value="<%=nivelfisico.id_niv %>">
                            <%=nivelfisico.descripcion_niv %>
                        </option>

                    <%}%>
                 </select>
            </div>
        </div>

    </div>
    </div>
        <input class="button is-primary" type="submit" value="REGISTRAR">
    </div>
  </div>
  </div>
    
</form>
<div class="hero is-fullheigt">
    <div class="hero-body is-justify-content-center is-align-items-center">
      <div class="columns is-flex is-flex-direction-column box">
        <span class="title" style="color: antiquewhite;">REGISTRATE</span>
        <div class="column">    
           <label class="label" style="color: antiquewhite;">Nombre(s)</label>
           <input required name="nombre" id="nombre" class="input" type="text" placeholder="Escribe tu(s) nombre(s)">
        </div>
        <div class="column">      
          <label class="label" style="color: antiquewhite;">Apellido(s)</label>
          <input name="apellido" id="apellido"  class="input" type="text" placeholder="Escribe tu(s) apellido(s)">
        </div>
  
        <div class="column">
          <label class="label" style="color: antiquewhite;">Username</label>
          <input required name="nombre_usuario" id="nombre_usuario" class="input" type="text" placeholder="Nombre de Usuario">
  
        </div>
        <div class="column">     
          <label class="label" style="color: antiquewhite;">Email</label>
          <input required name="correo" id="correo" class="input" type="email" placeholder="e.g. alex@example.com">
  
        </div>
  
        <div class="column">
          <label class="label" style="color: antiquewhite;">Password</label>
          <input required name="contrasena" id="contrasena"  class="input" type="password" placeholder="********">
        </div>
        <div class="column">
          <label class="label" style="color: antiquewhite;">Confirmar Password</label>
          <input required name="confirmar_contrasena" id="confirmar_contrasena"  class="input" type="password" placeholder="********">
        </div>
        
        <br>
        <div class="field is-grouped">
          <div class="control">
            <input class="button is-info" type="submit" value="REGISTRAR">
          </div>
          <div class="control">
            <a href="/" class="button is-link is-light">CANCELAR</a>
  
          </div>
  
        </div>

  <br>
  </div>
  </div>
  </div>