<%- include('../includes/head.ejs'); %>
<style>
    body {
        background-color: black;
    }

    .form-section {
        padding: 16px;
        font-size: .85rem;
        background-color: #242424;
        box-shadow: rgb(0 0 0 / 8%) 0 -1px;
        border-radius: 8px;
    }

    .form-section a {
        font-weight: bold;
        color: #0066ff;
        transition: color .3s ease;
    }

    .box {
        background-color: #242424;
    }

    .title {
        color: antiquewhite;
        margin-bottom: 1rem;
    }

    .label {
        color: antiquewhite;
    }

    .columns {
        margin-top: 1rem;
    }

    .column {
        margin-bottom: 0rem;
    }

    .submit-btn {
        margin-top: 1rem;
    }
</style>

<div class="hero is-fullheight">
    <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box form-section">
            <form action="/informacion" method="POST">
                <span class="title">INGRESA TUS DATOS</span>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <div class="column">
                    <label class="label">Elige tu Objetivo</label>
                    <div class="select is-link" >
                        <select  style="color:rgba(31, 93, 240, 0.7); background-color: #242424; color: antiquewhite;" name="obj" id="obj">
                            <option disabled selected>Selecciona una opción</option>
                            <% for(let objetivo of objetivos){ %>
                                <option value="<%=objetivo.id_obj %>">
                                    <%=objetivo.nombre_obj %>
                                </option>
                            <%}%>
                        </select>
                    </div>
                </div>

                <div class="column">
                    <label class="label">Selecciona tú Sexo</label>
                    <div class="control">
                        <div class="select is-link">
                            <select style="background-color: #242424; color: antiquewhite;" id="sexo" name="sexo">
                                <option disabled selected>Selecciona una opción</option>
                                <option>M</option>
                                <option>F</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="column">
                    <label class="label">Ingresa tú fecha de Nacimiento</label>
                    <input type="date" id="fecha_nacimiento" required name="fecha_nacimiento"  style="border: 1.5px solid rgba(31, 93, 240, 0.7); background-color: #242424;padding: 8px; font-size: 16px;border-radius: 4px; margin-bottom: 16px;">
                </div>

                <div class="column">
                    <label class="label">Ingresa tú Altura(m) 1 - 3.99</label>
                    <input type="number" id="alturaInic" required name="alturaInic" step="0.01" min="1" max="3.99"
                    style="border: 1.5px solid rgba(31, 93, 240, 0.7); background-color: #242424;padding: 8px; font-size: 16px;border-radius: 4px; margin-bottom: 16px;">
                </div>

                <div class="column">
                    <label class="label">Ingresa tú peso (KG) 50 - 200</label>
                    <input type="number" id="pesoInic" required name="pesoInic" step="0.01" min="50" max="200" style="border: 1.5px solid rgba(31, 93, 240, 0.7); background-color: #242424;padding: 8px; font-size: 16px;border-radius: 4px; margin-bottom: 16px;">
                </div>


                <div class="column">
                    <label class="label">Escoje la opción que más te describa:</label>
                    <div class="select is-link">
                        <select name="niv" id="niv" style="background-color: #242424; color: antiquewhite;" >
                            <option disabled selected>Selecciona una opción</option>
                            <% for(let nivelfisico of niveles){ %>
                                <option                          value="<%=nivelfisico.id_niv %>">
                                    <%=nivelfisico.descripcion_niv %>
                                </option>
                            <%}%>
                        </select>
                    </div>
                </div>

                <div class="submit-btn">
                    <input class="button is-link" type="submit" style="margin-left: 10px;" value="REGISTRAR">
                </div>

            </form>
        </div>
    </div>
</div>