<%- include('../includes/head.ejs'); %>
<style>
    body {
        background-color: black;
    }

    .form-section {
        padding: 16px;
        font-size: .85rem;
        background-color: #242424;
        box-shadow: rgb(0 0 0 / 8%) 0 -1px;
        border-radius: 8px;
    }

    .form-section a {
        font-weight: bold;
        color: #0066ff;
        transition: color .3s ease;
    }

    .box {
        background-color: #242424;
    }

    .title {
        color: antiquewhite;
        margin-bottom: 1rem;
    }

    .label {
        color: antiquewhite;
    }

    .columns {
        margin-top: 1rem;
    }

    .column {
        margin-bottom: 0rem;
    }

    .submit-btn {
        margin-top: 1rem;
    }
</style>
<div class="hero is-fullheight">
    <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box form-section">
            <form action="/informacion" method="POST">
                <span class="title"style="margin-left: 25%;">INGRESA TUS DATOS</span>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <div class="columns">
                    <div class="column">
                        <label class="label">Elige tu objetivo</label>
                        <div class="control">
                            <div class="select is-link">
                            <select required style="background-color: #242424; color: antiquewhite;" name="obj" id="obj">
                                <option disabled selected>Selecciona una opción</option>
                                <% for(let objetivo of objetivos){ %>
                                    <option value="<%=objetivo.id_obj %>">
                                        <%=objetivo.nombre_obj %>
                                    </option>
                                <%}%>
                            </select>
                        </div>
                        </div>
                        <br><br>

                        <label class="label">Selecciona tú sexo</label>
                        <div class="control">
                            <div class="select is-link">
                                <select required style="background-color: #242424; color: antiquewhite;" id="sexo" name="sexo">
                                    <option disabled selected>Selecciona una opción</option>
                                    <option>M</option>
                                    <option>F</option>
                                </select>
                            </div>
                        </div>
                        <br><br>
                        
                        <label class="label">Ingresa tú fecha de nacimiento</label>
                        <input type="date" id="fecha_nacimiento" required name="fecha_nacimiento"
                        max="<%= new Date(new Date().getFullYear() - 15, new Date().getMonth(), new Date().getDate()).toISOString().substr(0, 10) %>"
                        style="border: 1.5px solid rgba(31, 93, 240, 0.7); background-color: #242424;
                        padding: 8px; font-size: 16px;border-radius: 4px; margin-bottom: 16px; width: 213px; height: 40px;">

                        <br><br>

                        <label class="label">Ingresa tú altura(cm) 100 - 400</label>
                        <input type="number" id="alturaInic" required name="alturaInic" step="1" min="100" max="400"
                        style="border: 1.5px solid rgba(31, 93, 240,0.7); background-color: #242424;padding: 8px; font-size: 16px;border-radius: 4px; margin-bottom: 16px;width: 213px; height: 40px;">
                    </div>
                    
                    <br><br>

                    <div class="column">
                        <label class="label">Ingresa tú peso (kg) 40 - 200</label>
                        <input type="number" id="pesoInic" required name="pesoInic" step="1" min="40" max="200" style="border: 1.5px solid rgba(31, 93, 240, 0.7); background-color: #242424;padding: 8px; font-size: 16px;border-radius: 4px; margin-bottom: 16px;width: 213px; height: 40px;">

                        <label class="label">Ingresa tu máximo de Press de Banca (kg)</label>
                        <input type="number" id="pressBanca" name="pressBanca" step="1" min="1" style="border: 1.5px solid rgba(31, 93, 240, 0.7); background-color: #242424;padding: 8px; font-size: 16px;border-radius: 4px; margin-bottom: 16px;width: 213px; height: 40px;">

                        <label class="label">Ingresa tu máximo de Sentadilla (kg)</label>
                        <input type="number" id="sentadilla" name="sentadilla" step="1" min="1" style="border: 1.5px solid rgba(31, 93, 240, 0.7); background-color: #242424;padding: 8px; font-size: 16px;border-radius: 4px; margin-bottom: 16px;width: 213px; height: 40px;">

                        <label class="label">Ingresa tu máximo de Peso peso muerto (kg)</label>
                        <input type="number" id="pesoMuerto" name="pesoMuerto" step="1" min="1" style="border: 1.5px solid rgba(31, 93, 240, 0.7); background-color: #242424;padding: 8px; font-size: 16px;border-radius: 4px; margin-bottom: 16px;width: 213px; height: 40px;">
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <label class="label">Selecciona tu actividad física:</label>
                        <div class="control">
                        <div class="select is-link">
                            <select  required name="niv" id="niv" style="background-color: #242424; color: antiquewhite;" >
                                <option disabled selected>Selecciona una opción</option>
                                <% for(let nivelfisico of niveles){ %>
                                    <option value="<%=nivelfisico.id_niv %>">
                                        <%=nivelfisico.nombre_niv %>
                                    </option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="submit-btn">
                    <input class="button is-link" type="submit" style="margin-left: 10px;" value="REGISTRAR">
                </div>

            </form>
        </div>
    </div>
</div>