<%- include('../includes/head.ejs'); %>
<style>
    body {
        background-color: black;
    }

    .form-section {
        padding: 16px;
        font-size: .85rem;
        background-color: #242424;
        box-shadow: rgb(0 0 0 / 8%) 0 -1px;
        border-radius: 8px;
    }

    .form-section a {
        font-weight: bold;
        color: #0066ff;
        transition: color .3s ease;
    }

    .box {
        background-color: #242424;
        width: 45%;
    }

    .title {
        color: antiquewhite;
        margin-bottom: 1rem;
    }

    .label {
        color: antiquewhite;
    }

    .columns {
        margin-top: 1rem;
    }

    .column {
        margin-bottom: 1rem;
    }

    .submit-btn {
        margin-top: 1rem;
    }
</style>

<div class="hero is-fullheight">
    <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box form-section">
            <form action="/registrarse" method="POST">
                <span class="title">REGISTRATE</span>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <div class="column">
                    <label class="label">Nombre(s)</label>
                    <input required name="nombre" id="nombre" class="input" type="text" maxlength="30" pattern="[a-zA-Z]{2,}" title="Ingrese un nombre válido con 3 letras y sin números" value="<%= usuarioData ? usuarioData.nombre : '' %>" placeholder="Escribe tu(s) nombre(s)">
                </div>

                <div class="column">
                    <label class="label">Apellido(s)</label>
                    <input name="apellido" id="apellido" class="input" type="text" maxlength="30" pattern="[a-zA-Z]{2,}" title="Ingrese un apellido mayor a 2 letras y sin números" value="<%= usuarioData ? usuarioData.apellido : '' %>" placeholder="Escribe tu(s) apellido(s)">
                </div>

                <div class="column">
                    <label class="label">Username</label>
                    <input required name="nombre_usuario" id="nombre_usuario" maxlength="40"  pattern="[a-zA-Z0-9]{4,}" title="Ingrese nombre de Usuario minimo de 4 letras y sin caracteres especiales" class="input" value="<%= usuarioData ? usuarioData.nombre_usuario : '' %>" type="text" placeholder="Nombre de Usuario">
                </div>

                <div class="column">
                    <label class="label">Email</label>
                    <input required name="correo" id="correo" class="input" type="email" value="<%= usuarioData ? usuarioData.correo : '' %>" placeholder="e.g. alex@example.com">
                </div>

                <div class="column">
                    <label class="label">Password</label>
                    <input required name="contrasena" id="contrasena" class="input" maxlength="400" type="password" placeholder="********">
                </div>

                <div class="column">
                    <label class="label">Confirmar Password</label>
                    <input required name="confirmar_contrasena" id="confirmar_contrasena" maxlength="400" class="input" type="password" placeholder="********">
                </div>

                <% if (mensaje) { %>
                    <div class="notification is-danger is-light">
                        <button class="           <button class="delete"></button>
                        <strong><%= mensaje %></strong>
                    </div>
                <% } %>

                <div class="submit-btn">
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="button is-info" type="submit" value="REGISTRAR">
                        </div>
                        <div class="control">
                            <a href="/" class="button is-link is-light">CANCELAR</a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-section" > <p> No tienes una cuenta? <a href="/registrarse"> Registrate aqui </a></p>
            </div>
        </div>
    </div>
</div>

<!--La aplicacion se siente más rapida-->
<%- include('../includes/foot.ejs'); %>