<%- include('../includes/head.ejs'); %>
<h1 class = "title is-1 has-text-white-ter"> Registrar Medidas</h1>
<br>
<form action="/medidas" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    
    <% for (let i = 0; i < mediciones.length; i++) { %>
        <% if (i % 4 === 0) { %>
            <div class = "columns">
        <% } %>
        
        <div class = "column">
            <label for = "<%= mediciones[i].tipo %>"><h5 class="subtitle is-5 has-text-white-ter"><%= mediciones[i].tipo %></h5></label>
            <input class = "input is-rounded" type = "number" step="0.1" id="<%= mediciones[i].tipo %>" name = "<%= mediciones[i].tipo %>">
        </div>
        
        <% if (i % 4 === 3 || i === mediciones.length - 1) { %>
            </div>
            <br>
        <% } %>
    <% } %>
    
    <input class="button is-rounded is-info" type="submit" value="Guardar">
</form>

<%- include('../includes/foot.ejs'); %>
