<%- include('../includes/head.ejs'); %>
<% if (mensaje != '') { %>
    <div class="notification is-info is-light">
        <%= mensaje %>
    </div>
<% } %>
<% if (rol == "Cliente") { %>
    <h1 class = "title is-1 is-centered has-text-white-ter"> Progreso</h1>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const registrosStr = "<%- escape(JSON.stringify(registros)) %>";
        const registros = JSON.parse(unescape(registrosStr));
        $(document).ready(function() {
            $('#seleccion').change(function() {
                var valorSeleccionado = $(this).val();
                var tabla = $('#tabla-dinamica');
                tabla.empty();
                tabla.append('<tr><th>Fecha</th><th>Medida</th></tr>');
                registros.forEach(registro => {
                    if (registro.nombre==valorSeleccionado){
                        tabla.append('<tr><th>'+registro.fecha+'</th><td>'+registro.medida+'</td></tr>');
                    }
                })
        });
        });
    </script>
    <div class="columns">
        <columns style="width: 25%;">
            <label for="seleccion">Selecciona un valor:</label>
            <select id="seleccion">
                <option selected="true" disabled="disabled">Escoga uno</option>
                <% medidas.forEach(medida => { %>
                    <option value="<%= medida.tipo %>"><%= medida.tipo %></option>
                <% }) %>
            </select>
            <br><br>
            <table id="tabla-dinamica">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Medida</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </columns>
        <columns style="width: 65%;">
        </columns>
    </div>
    

<% }  else if (rol == "Administrador") { %>
    <h1 class="title is-1 has-text-white-ter"></h1>
    <img src = "https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">
<% } %>
<%- include('../includes/foot.ejs'); %>

